# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# IDE / editor folders
.vscode/
.idea/

# OS files
.DS_Store

# Data and models (you can create a separate models folder later)
data/
models/
outputs/

# Environment and secrets
.env
*.env

# Logs
logs/
*.log
